#background {
  -fx-background-image: url("load/brickgr.jpg");
}


#save1 {
    -fx-text-color: white;
    -fx-background-color: transparent;
    -fx-border-color: pink;
    -fx-border-width: 5px;
    -fx-border-radius: 5px;
    -fx-effect: dropshadow(gaussian, purple, 10, 0.8, 0, 0);
}

#save1:hover {
    -fx-effect: dropshadow(gaussian, green, 10, 0.8, 0, 0);
}

#save2 {
    -fx-background-color: transparent;
    -fx-border-color: pink;
    -fx-border-width: 5px;
    -fx-border-radius: 5px;
    -fx-effect: dropshadow(gaussian, purple, 10, 0.8, 0, 0);
}

#save2:hover {
    -fx-effect: dropshadow(gaussian, green, 10, 0.8, 0, 0);
}

#save3 {
    -fx-background-color: transparent;
    -fx-border-color: pink;
    -fx-border-width: 5px;
    -fx-border-radius: 5px;
    -fx-effect: dropshadow(gaussian, purple, 10, 0.8, 0, 0);
}

#save3:hover {
    -fx-effect: dropshadow(gaussian, green, 10, 0.8, 0, 0);
}

#back{
     -fx-text-color: white;
     -fx-background-color: transparent;
     -fx-border-color: pink;
     -fx-border-width: 5px;
     -fx-border-radius: 5px;
     -fx-effect: dropshadow(gaussian, purple, 6, 0.8, 0, 0);
}

#back:hover{
     -fx-text-color: white;
     -fx-background-color: transparent;
     -fx-border-color: pink;
     -fx-border-width: 5px;
     -fx-border-radius: 5px;
     -fx-effect: dropshadow(gaussian, blue, 6, 0.8, 0, 0);
}

#back:pressed{
     -fx-text-color: white;
     -fx-background-color: transparent;
     -fx-border-color: pink;
     -fx-border-width: 5px;
     -fx-border-radius: 5px;
     -fx-effect: dropshadow(gaussian, green, 6, 0.8, 0, 0);
}
